.main-background{
    width: 100%;
    height: 500px;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-top: 150px;
    position: relative;
}
body{
    margin:0px;
}
.main-title-box{
        text-align: center;
}
.main-title{
    color: white;
    font-size: 30px;
    margin: 0px;
}
.main-content{
    padding: 20px;
    color:white;
    font-size: 15px;
}
.main-button{
    padding: 10px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    border: none;
    border-radius: 5px;
    margin: auto;
    display: block;
}
.position{
    /* position으로 기준점을 미리 정해야함 
        기본값은 default
        position을 놓으면 붕떠서 움직임.
        position: fixed; 스크롤할때도 고정됨.
        position: absolute; <- relative 가지고 있는 부모한테 달라붙어서 기준이 생김.
        position: relative; <- absolute가 가서 달라붙음.

    */
    position: relative;
    top: 150px;
    left: 0;
    right: 0;
    margin: auto;
    width: 150px;
}
.sub-div{
    background: rgb(195, 200, 199);
    max-width: 600px;
    position: relative;
    width: 80%;
    height: 300px;
    margin: auto;
    text-align: center;
    padding: 20px;
    top:-20px;
    box-sizing: border-box; 
    /* 기본설정 box-sizing: content-box;
       정확한 박스설정 box-sizing: border-box; 
    */
}
