.container{
    width: 800px;
    margin: auto;
}
.blog-profile{
    float: left;
    margin-left: 10px;
}
.blog-pic{
    float: left;
    width: 50px;
}
.blog-title{
    clear: both;
}
.blog-content{
    width: 80%;
    height: 200px;
    float: left;
}
.blog-image{
    width: 20%;
    height: 200px;
    float: left;
}
.li-inline li{
    display: inline-block;
    width: 50px;
    text-align: center;
}
.navbar{
    width: 800px;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
}
.li-inline a{
    text-decoration: none;
}
.li-inline a:visited{
    color: black;
}